<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title></title>

</head>
<body onLoad="window.scroll(0, 5058)">

<div class="scroll-base"></div>
<img class="arrow-up" src="arrowUp.svg" onerror="this.onerror=null; this.src='image.png'">
<h1 id="header">Closer<br><br><br><br><br>Farther</h1>
<img class="arrow-down" src="arrowDown.svg" onerror="this.onerror=null; this.src='image.png'">
<script src="jquery-1.11.3.js" type="text/javascript"></script>

<!-- These are the links to the divs marking the distances -->
<div class="menu">
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM16');">10.-16</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM15');">10.-15</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM14');">10.-14</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM13');">10.-13</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM12');">10.-12</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM11');">10.-11</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM10');">10.-10</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM9');">10.-9</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM8');">10.-8</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM7');">10.-7</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM6');">10.-6</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM5');">10.-5</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM4');">10.-4</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM3');">10.-3</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM2');">10.-2</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('tenM1');">10.-1</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten1');">10.1</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten2');">10.2</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten3');">10.3</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten4');">10.4</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten5');">10.5</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten6');">10.6</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten7');">10.7</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten8');">10.8</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten9');">10.9</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten10');">10.10</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten11');">10.11</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten12');">10.12</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten13');">10.13</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten14');">10.14</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten15');">10.15</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten16');">10.16</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten17');">10.17</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten18');">10.18</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten19');">10.19</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten20');">10.20</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten21');">10.21</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten22');">10.22</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten23');">10.23</a>
  <a href="#" onclick="return false;" onmousedown="autoScrollTo('ten24');">10.24</a>
</div>
<!-- These are the links to the divs marking the distances -->

<video id="bgvid" tabindex="0", autobuffer preload>
  <source src="powers6.mp4" type="video/mp4">
</video>

<!-- <div class="scrollpopup"></div> -->

<!-- These are the links to the parts of the site -->
<div id="tenM16"></div>
<div id="tenM15"></div>
<div id="tenM14"></div>
<div id="tenM13"></div>
<div id="tenM12"></div>
<div id="tenM11"></div>
<div id="tenM10"></div>
<div id="tenM9"></div>
<div id="tenM8"></div>
<div id="tenM7"></div>
<div id="tenM6"></div>
<div id="tenM5"></div>
<div id="tenM4"></div>
<div id="tenM3"></div>
<div id="tenM2"></div>
<div id="tenM1"></div>
<div id="ten1"></div>
<div id="ten2"></div>
<div id="ten3"></div>
<div id="ten4"></div>
<div id="ten5"></div>
<div id="ten6"></div>
<div id="ten7"></div>
<div id="ten8"></div>
<div id="ten9"></div>
<div id="ten10"></div>
<div id="ten11"></div>
<div id="ten12"></div>
<div id="ten13"></div>
<div id="ten14"></div>
<div id="ten15"></div>
<div id="ten16"></div>
<div id="ten17"></div>
<div id="ten18"></div>
<div id="ten19"></div>
<div id="ten20"></div>
<div id="ten21"></div>
<div id="ten22"></div>
<div id="ten23"></div>
<div id="ten24"></div>
<!-- These are the links to the parts of the site -->
<script src="script.js"></script>
</body>
</html>